# 07-04

## Challenge 03 - Further with Spark DataFrames
---
![](https://images.unsplash.com/photo-1511713724866-102ba72ac216?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
Picture by [Maxi am Brunnen](https://unsplash.com/photos/FOyhzt-ryM0)

**Q1) Load the Spark Session and name it as you like.**

In [3]:
# TODO

**Q2.1) Download the Paris trees dataset in CSV format.**

[Source : Paris Open Data](https://opendata.paris.fr/explore/dataset/les-arbres/information/)

In [1]:
# Q2 - pull csv file

**Q2.2) Display the first two lines of the file with the linux head command**

In [14]:
# TODO

**Q3) Create a DataFrame from the CSV file.** 

Syntax is :

```df = SparkSession.read.csv("FILENAME", parameter=value... )```

In [3]:
# TODO

**Q4) Explore your dataframe**

You can use functions like **show**, **select**, **dtypes**, **describe**, **filter**, **count**.

Here as some cells with suggested manipulations. Here it is important to understand how to chain instructions on a dataframe.

In [2]:
# Show some lines

In [3]:
# Check the column list

In [3]:
# Select

In [4]:
# Dataframe dtypes

In [5]:
# Select columns and desribe and show

In [41]:
# Filter the values
# For example, let's keep only remarquable trees

+--------------------+
|      LIEU / ADRESSE|
+--------------------+
|SQUARE LOUISE MICHEL|
|PARC MARCEL BLEUS...|
|ROUTE DE LA CEINT...|
|TIR AU PIGEON / 3...|
|JARDIN DES SERRES...|
+--------------------+
only showing top 5 rows

In [6]:
# Count how many remarquable trees we have in the dataset.

**Q5) Deleting a column**

We have seen in the previous question that we can chain multiple operations on a dataframe. BUT, all we did in the previous cells did not modify our dataframe.

If you want to modify a dataframe, you have to reassign the variable. 

Obviously, we will not use the ```geo_point_2d```. Reassign the dataframe (df), or create a new variable, and drop the column.

In [3]:
# TODO

**In the following questions you will discover the **.withColumn()** operator. It's one of the most useful tool for manipulating columns.**

**Q6) Renaming a column **

We'll start with the **.withColumnRenamed** operator, to rename a column. Change the "LIEU / ADRESSE" to "ADRESSE".

Syntax : ```df.withColumnRenamed("colName", "newColName")```

Dont forget you have to reassign a variable for your instruction to be applied.

In [3]:
# TODO

**Q7) Modify/Create a column :**

.withColumn applies an operation to a whole column. It creates a new column with the name given. If you give the same name, the column will be replaced.

Apply the withColumn function to concatenate the columns NUMERO and ADRESSE, into a new column named ADRESSE_COMPLETE.

For concatenating, we use **concat_ws** (with separator), one of the built-in function of spark sql. It's a set of function made specifically for Dataframes.

Here is the syntax to gather the columns : 

```concat_ws(" ", df_mod.NUMERO, df_mod.ADRESSE)```

In [3]:
# TODO

One amazing thing with SparkSQL DataFrames, is the possibility to write SQL queries on your DataFrame

**Q8) Here are the steps for using SQL with dataframes :**
1. Register your dataframe into a temporary table with : ```df.registerTempTable("customTableName")```
2. Create a SQLContext, from the spark session with : ```sqlContext = SQLContext(spark_sess)```
3. Query your temporary table with this syntax : ```sqlContext.sql("SELECT column FROM customTableName").show()```

Follow these steps and query your dataframe with SQL to display ARRONDISSEMENT and CIRCONFERENCEENCM, ordered by descending CIRCONFERENCEENCM. Can you believe the results ?!

In [3]:
# Step 1
# Step 2
# Query

At this point, you have covered a lot of tools to play around with Dataframes.

**Q9) Challenge recap**
- Modify your dataframe : Create a new column APPELLATION concatenating ESPECE and VARIETEOUCULTIVAR.
- Load your dataframe into a temp SQL table.
- Query your table : Display in descending order the count for each APPELLATION (Use Group By)

In [ ]:
# 1. Create a new column by concatenation

# 2. Create SQLContext like above

# 3. SQL Query

In [7]:
# TODO : delete the dataset